<h1>Listing user_sessions</h1>

<table id="user_sessions-table">
  <tr>
    <th>Email</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New User session</a>