<h1>New user_session</h1>

<form id="new-user_session" name="user_session">
  <div class="field">
    <label for="email"> email:</label>
    <input type="text" name="email" id="email" value="<%= email %>" >
  </div>

  <div class="field">
    <label for="password"> password:</label>
    <input type="text" name="password" id="password" value="<%= password %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create User session" />
  </div>

</form>

<a href="#/index">Back</a>